{# {% extends 'base.html.twig' %}

{% block title %}Ajouter un {% endblock %}

{% block body %}
    <div class="container">
        <h1>Add Session</h1>
        {{ form_start(formAddProgram) }}
            {{ form_row(formAddProgram.durationDays) }}
            {{ form_row(formAddProgram.course) }}
            {{form_row(formAddProgram.session)}}
        {{ form_end(formAddSession) }}
    </div>
{% endblock %} #}
