{% extends 'base.html.twig' %}

{% block title %}Trainee's details{% endblock %}

{% block body %}
    <h1>Trainee's details</h1>

    <h2>{{ trainee }}</h2>
    <p>Date de naissance : {{ trainee.getBirthDate() | date('d.m.Y') }}</p>
    <p>Age : {{ trainee.getAge() }}</p>
    <p>Email : {{ trainee.getEmail() }}</p>
    <p>Adresse : {{ trainee.getAddress() }} {{ trainee.getPostCode() }}{{" "}}{{ trainee.getCity() }}</p>
    <p>Sessions : 
        {% for session in trainee.sessions %}
            {{ session }}<br>
        {% endfor %}
    </p>
{% endblock %}